<h2> This is the list of restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <p>
  <%= restaurant.name %>,
  <%= restaurant.address %><br>
    <%= link_to "Show this restaurant", restaurant %>
  </p>
<% end %>

<br>
<%= link_to("Create New Restaurant", new_restaurant_path) %>
